@using HappySitter.Models
@model HappySitter.Models.ApplicationUser

@{
    ViewBag.Title = "User Details";
}

<h2>User Details</h2>

@Html.HiddenFor(model => model.Id)

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressLine2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressLine2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Province)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Province)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Model.GetFormattedPhoneNumber()
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessFailedCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccountActiveStatus)
        </dt>
        <dd>
            @Enum.GetName(typeof(AccountActiveStatus), Model.AccountActiveStatus)
        </dd>
        
        <hr />
        <dt>

        </dt>
        <dd>
            <!-- Only QualityManager can verify Sitters.-->
            @if (User.IsInRole("QualityManager") && Model.AccountActiveStatus == AccountActiveStatus.IsWatingVerification)
            {
                @Html.ActionLink("Verify User", "UserVerified", new { id = Model.Id }, new { @class = "btn btn-primary", data_ajax = "false" })
            }

            @if (Model.AccountActiveStatus != AccountActiveStatus.IsBlocked)
            {
                @:&nbsp;&nbsp;
                @Html.ActionLink("Block User", "UserBlock", new { id = Model.Id }, new { @class = "btn btn-warning", data_ajax = "false" })
            }

            &nbsp;&nbsp;
            @Html.ActionLink("Edit", "UserEdit", new { id = Model.Id }, new { @class = "btn btn-success", data_ajax = "false" })
            &nbsp;&nbsp;
            @Html.ActionLink("Back to List", "ListOfUsers", null, new { @class = "btn btn-default", data_ajax = "false" })
        </dd>

    </dl>
</div>

